body {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
	color: #555;
}
body * {
	box-sizing: border-box;
}

input, button {
    font-size: 1.2em;
    color: #555;
}
input {
    width: 400px;
    padding: 5px 5px;
    transition: all 0.30s ease-in-out;
	outline: none;
	background: #fff;
	border: 1px solid #ccc;
}
input:focus {
    box-shadow: 0 0 5px #2f54eb;
	border: 1px solid #2f54eb;
}
button {
    padding: 5px 15px;
    background: white;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    background: #2f54eb;
    border-radius: 3px;
    border-color: transparent;
	color: #fff;
}
button:hover {
    background: #597ef7;
}

#output {
    background: #f0f5ff;
    margin-top: 20px;
    border: solid 1px #ccc;
    min-height: 70vh;
    padding: 10px;
}

.card {
    display: flex;
    box-sizing: border-box;
    margin: auto;
    height: 250px;
    padding: 10px;
    font-family: Arial;
}

.picture {
    width: 200px;
    height: 200px;
    background-size: cover;
}  

ul {
    list-style: none;
}